# https://docs.npmjs.com/cli/v8/using-npm/config
save-exact=true
audit-level=critical
legacy-peer-deps=true

# https://pnpm.io/cli/run#differences-with-npm-run
enable-pre-post-scripts=true
strict-peer-dependencies=false
