{% extends 'components/base.twig' %}
{% block content %}

<h3>Persistent Volume Claim <span class="codespan">{{ pvc.metadata.name }}</span></h3>

<h4>Metadata</h4>
<div class="code">{{ pvc.metadata.raw }}</div>

<h4>Spec</h4>
<div class="code">{{ pvc.spec.raw }}</div>

<h4>Status</h4>
<div class="code">{{ pvc.status.raw }}</div>

{% endblock %}
