{% extends 'components/base.twig' %}
{% block content %}

<h3>Service <span class="codespan">{{ service.metadata.name }}</span></h3>

<h4>Metadata</h4>
<div class="code">{{ service.metadata.raw }}</div>

<h4>Spec</h4>
<div class="code">{{ service.spec.raw }}</div>

{% endblock %}
