$primary-color: #2c4059;
$accent-color: #0079c4;

$font-family: sans-serif;
$font-size: 15px;

$background-color: white;
$text-color: black;

$topbar-background-color: $primary-color;
$topbar-text-color: white;

$progressbar-background-color: lightblue;
$progressbar-color: $primary-color;

$card-background-color: #f6f8fa;
$card-text-color: #333;

$panel-background-color: lightblue;
$panel-text-color: #333;

$code-background-color: #f6f8fa;
$code-text-color: black;

$codespan-background-color: #f6f8fa;
$codespan-text-color: $text-color;

$gutter: 16px;
$border-radius: 5px;
